/* RESET */
*{
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

:root {
    --main-color: #F02828;
  }

/* HEADER*/
#header {
    width: 100%;
    height: 85px;
    background-color: #000;
    position: relative;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.21);
}

#header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#logo{
    position: absolute;
    bottom: 0;
}

/* MENU */
#menu{
    list-style: none;
    display: block;
    position: absolute;
    width: 100%;
    top: 85px;
    right: 0px;
    height: 0;
    transition: height 0.6s;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden; 
    background: #000;
}

#menu a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

#menu li{
    padding: 8px;
    border-bottom: 2px solid #fff;
    margin: 0 25px;
}

#menu li:hover{
    background-color: #222;
    border-radius: 5px;
}

/* Button Hamburger */

#btn-mobile {
    display: flex;
    padding: 31px 0;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    color: #fff;
}

#hamburger {
    border-top: 2px solid;
    width: 30px;
    transition: 0.2s;
}

#hamburger::after,
#hamburger::before {
  content: '';
  display: block;
  width: 30px;
  height: 2px;
  background: currentColor;
  margin-top: 11px;
  transition: 0.3s;
  position: relative;
}

/* Open menu */

#nav1.activemenu #menu {
    visibility: visible;
    height: calc(100vh - 85px);   
}


/* Button Hamburger - Open Menu*/
#nav1.activemenu #hamburger {
    border-top-color: transparent;
  }
  #nav1.activemenu #hamburger::before {
    transform: rotate(135deg);
  }
  #nav1.activemenu #hamburger::after {
    transform: rotate(-135deg);
    top: -12.3px;
  }


 /* container */
.container{
    padding: 0 20px;
} 


/* Responsive Header */
@media(min-width:576px){
    .container{
        width: 550px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(min-width:768px){
    .container{
        width: 740px;
    }
    #btn-mobile{
        display: none;
    }

    #hamburger {
        display: none;
    }
   
    #menu{
        display: flex;
        justify-content: space-around;
        align-items: center;
        visibility: visible;
        position: static;
        height: 85px;
        transition: none;
    }
    #menu li{
        padding: auto;
        border-bottom: none;
        margin: auto;
    }

    #nav1.activemenu #menu {
        height: 85px;
    }
}

@media (min-width: 992px) {
    .container {
      width: 960px;
    }
    #menu li{
        margin: 0 5px;
    }
}
  @media (min-width: 1200px) {
    .container {
      width: 1160px;
    }
  }
  @media (min-width: 1400px) {
    .container {
      width: 1360px;
    }
  }

/*Btn Cart */
.cart{
    position: sticky;
    top: 10px;
    width: 100%;
    margin-top: 15px;
}

#btn-cart{
    background: none;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0;
}

.btn-cart-badge{
    position: absolute;
    bottom: 0;
    right: -10px;
    color: var(--main-color);
    border: var(--main-color) 1px solid;
    background-color: #fff;
    width: 20px;
    height: 20px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

/*Cart "Pop-up"*/
#cart-windows{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    min-height: 300px;
    position: absolute;
    top: 55px;
    right: 0;
    padding: 0 0 15px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.21);
    transition: 0.6s;
    z-index: 999;
    visibility: hidden;
    overflow: hidden;
}

.cart-line1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 15px;
    padding: 0 0 10px;
    border-bottom: #000 2px solid;
}

#btn-close-cart{
    background: none;
    font-size: 26px;
    width: 25px;
    height: 25px;
    cursor:pointer;
}

#cart-big{
    margin: 15px 0;
    margin-left: auto;
    margin-right: auto;
}

#cart-windows p{
    text-align: center;
    font-size: 18px;
    color: rgba(240, 40, 40, .5);
}

/*Open Cart "Pop-up"*/
#cart-windows.activecart{
    visibility: visible;
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }

@-webkit-keyframes slideInRight {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes slideInRight {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
} 

/* Titles */

.pagetitle{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}
.product-name{
    font-size: 20px;
    font-weight: 600;
}

/* Products */

.product{
    border: #000 solid 2px;
    border-radius: 10px;
    box-shadow:  4px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 253px;
    /* height: 319px; */

}


.product div{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


/* button */

.btn-santadart {
    background-color: var(--main-color);
    color: #fff;
    cursor: pointer;
    border-radius: 17px;
}

.btnaddcart{
    font-size: 12px;
    text-align: center;
    padding: 5px;
}

.btn-santadart:hover {
    background-color: #f02828c9;
}

.main-conteiner{
    display: grid;
    gap: 30px;
    margin-bottom: 30px;
}

@media (min-width: 576px) {
.main-conteiner{
    grid-template-columns: 1fr 1fr;
    }

.product{
    width: 100%;
}
}

@media (min-width: 768px) {
    .product{
        width: 253px;
    }
}

@media (min-width: 992px) {
    .main-conteiner{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .product{
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .main-conteiner{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}